.ipynb_checkpoints
*.db
*.bz2
*.md5
*.txt
*.txt.gz
/test
/test2
/generate-all-states
/generate-all-states2
/solve-by-dp
/solve-by-dp2
/solve-by-dp3
/validate-data
/read-test

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
